body {
	margin: 0;
	padding: 0;
	background: white;
}

a {
	text-decoration: underline;
	color: #404040;
}

select {
	font-size: 25px;
}

h1 {
	font-size: 50px;
	margin: 10px 0px 10px 0px;
}

#container {
	max-width: 960px;
	margin: auto;
}

#header {
	background-color:red;
	height: 100px;
	text-align:left;
	margin: 0px 4px 0px 4px;
}

#title {
	margin: 0px 4px 0px 4px;
}

#navi {
	margin-top: 40px;
	float: right;
	font-size: 26px;
	font-weight: bold;
}

#main {
	width: 472px;
	float: left;
	padding:1px 4px 20px 4px;
	text-align: left;
}

#main img {
	width: 472px;
	padding: 0;
	border: 0;
}

#stream {
	width: 474px;
	float: left;
	padding: 0px 3px 0px 3px;
}   

#stream img {
	margin: 1px 1px 1px 1px;
	padding: 0;
	border: 0;
	width: 77px;
	height: 77px;
	float: left;
}

.hidden {
	/* for IE */
	filter:alpha(opacity=0);
	/* CSS3 standard */
	opacity:0;
}