body {
	font-family: helvetica;
	background-image: url(/img/header.jpg);
	background-repeat: repeat-x;
	background-color: white;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

a {
	text-decoration: underline;
	color: #404040;
}

select {
	font-size: 25px;
}

h1 {
	font-size: 25px;
	margin: 5px 0px 5px 0px;
}

h2 {
	font-size: 14px;
	margin: 5px 0px 5px 0px;
}

img {
	border:0px;
}

ul {
	display: inline;
	list-style-type: none;
	padding: 5px 5px 5px 5px;
	vertical-align:top;
}

td {
	padding: 0;
	margin: 0;
	vertical-align:top;
}

.post {
	padding: 7px 5px 5px 5px;
}

.focus {
	padding: 5px 5px 5px 5px;
	border:2px;
	border-style:dashed;
	background-color: #B0B0B0;
}

#header {
	position:fixed;
	left:10px;
	top:10px
}

#body {
	margin-top:103px;
}

#loadNewer div {
	width: 200px;
	text-align:center;
	font-size: 120px;
	font-weight: bold;
        cursor:pointer;
}
