body {
	margin: 0;
	padding: 0;
	background: white;
}

a {
	text-decoration: underline;
	color: #404040;
}

#heading {
	font-size: 25px;
	margin-top: 6px;
	margin-bottom: 6px;
}

#main {
	width: 472px;
	float: left;
	padding:4px 4px 0px 4px;
	text-align: left;
}

#main div {
	width: 466px;
	text-align: center;
	background-color: grey;
	padding: 3px 3px 3px 3px;
	margin: 0;
}

#main img {
	width: 472px;
	margin-top: 5px;
	padding: 0;
	border: 0;
}

#stream {
	width: 474px;
	float: left;
	padding: 4px 3px 0px 3px;
}

#stream div {
	text-align: center;
	width: 466px;
	background-color: grey;
	padding: 3px 3px 3px 3px;
	margin: 0 1px 3px 1px;
}

#stream select {
	font-size: 25px;
}

#stream img {
	margin: 1px 1px 1px 1px;
	padding: 0;
	border: 0;
	width: 77px;
	height: 77px;
	float: left;
}